@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    background-color: rebeccapurple;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Mooli', sans-serif;
    background-color: black;
    height: 3.4rem;
}

nav ul li{
    padding: 0px 12px;
    /* margin-top: 12px; */
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: white;
    font-size:smaller;
}
.imgLogo img{
    width: 38px;
    
}
.logoName{
    font-weight: bolder;
    padding-right: 20px;
    padding-left: 0px;
}

/* Container  */
.container{
    min-height: 70vh;
    background-color: rgba(20, 20, 18, 0.993);
    color: white;
    /* font-family: 'Mooli', sans-serif; */
    border-radius: 12px;
    display: flex;
    width: 70%;
    margin: 20px auto ;
    background-image: url(bg.jpg);
    background-attachment:fixed;
    
}
.listSong{
 color: white;
 padding: 12px;
}
.itemSong{
background-color: beige;
height: 35px;
 width: 70%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 color: black;
 border-radius: 16px;
 margin: 6px;
}
.itemSong img{
    height: 30px;
    border-radius: 16px;
}
.listAllSong{
    padding-top: 16px;
}

/* Bottom  */
.bottom{
    height: 90px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
#songRange{
    width: 65vw ;
}
.playIcon{
    margin-top: 9px;
    cursor: pointer;
}
.songPlaying{
    position: absolute;
    left: 18vw;
}